{% extends 'Song/home.html' %}
{% block home %}
    {% load static %}
    
<h1>注册</h1>   
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
  <div class="form-group">
    <label for="username">账号</label>
    <input type="text" class="form-control" id="username" name="username">
    <small class="form-text text-muted">请不要暴露自己的密码</small>
  </div>
      <div class="form-group">
    <label for="email">邮箱</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="password">密码</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
      <div class="form-group">
    <label for="password_confirm">再次确认密码</label>
    <input type="password" class="form-control" id="password_confirm" name="password_confirm">
  </div>

  <button type="submit" class="btn btn-primary">注册</button>
</form>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <strong>错误</strong> 请检查以下错误:
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        	

{% endblock %}

