<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <img src="user-avatar-url" class="card-img-top" alt="User avatar">
                    <div class="card-body">
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">User bio</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">My Music Playlist</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Song 1</li>
                            <li class="list-group-item">Song 2</li>
                            <li class="list-group-item">Song 3</li>
                            <!-- Add more songs here -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>